[submodule "meteor/packages/accounts-entry"]
	path = meteor/packages/accounts-entry
	url = git@github.com:coyno/accounts-entry.git
[submodule "meteor/packages/simple-form"]
	path = meteor/packages/simple-form
	url = git@github.com:coyno/simple-form.git
