template(name="transfers")
  .container
    .row
      h1.process-title {{i18n 'transfers.headings.transfers'}}
      hr.sub-stopper
      .sub-menu-zone.pull-right
        //- Button trigger modal 
        a(href="#", data-toggle="modal",data-target="#txHelpModal")
          span.glyphicon.glyphicon-hand-right 
          span {{i18n 'template.headings.help'}} 
        .modal.fade(id="txHelpModal", tabindex="-1", role="dialog", aria-labelledby="transactionHelpModal", aria-hidden="true")            
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal")
                  span(aria-hidden="false") &times;
                  span.sr-only Close
                h4.modal-title(id="transactionHelpModal") How to do your taxes
              .modal-body {{i18n 'transfers.help'}}
              .modal-footer
    .row
      //-
        .add-trns-zone
          +newTransaction         

  .container-fluid.table-zone
    if transfers
      table.table.table-bordered.table-zb-hover
        thead
            tr
              th(colspan="2").no-border &nbsp;
              th(colspan="2").supa-header.inflow {{i18n 'transfers.headings.table.inflow'}}
              th(colspan="2").supa-header.outflow {{i18n 'transfers.headings.table.outflow'}}
              th(colspan="2").no-border &nbsp;             
            tr
              th {{i18n 'transfers.headings.table.date'}} 
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.date'}} ")
                  span.glyphicon.glyphicon-info-sign
              th {{i18n 'transfers.headings.table.source'}}
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.source'}} ")
                  span.glyphicon.glyphicon-info-sign
              th.positive {{i18n 'transfers.headings.table.amount'}}
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.inAmount'}} ")
                  span.glyphicon.glyphicon-info-sign
              th.positive {{i18n 'transfers.headings.table.currency'}}
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.inCurrency'}} ")
                  span.glyphicon.glyphicon-info-sign
              th.negative {{i18n 'transfers.headings.table.target'}}
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.outAmount'}} ")
                  span.glyphicon.glyphicon-info-sign
              th.no-border              
        tbody
          each transfers
            tr
              td {{prettyDate date}}
              td {{out.node}}
              td.positive {{out.amount}}
              td.positive {{out.currency}}
              td.negative {{in.node}} 
              td
                a.delete-transaction(href="#")
                  span.glyphicon.glyphicon-trash
    else
      .row
        .col-sm-6.col-sm-offset-3 
          .add-trns-zone
            h3 {{i18n 'transfers.headings.noTransactions'}}
            p {{i18n 'transfers.text.noTransactions'}}