<template name="transferFlowDetail">

    <tr class={{transferType}}>
        <td>{{prettyDate date}}</td>
        <td>{{details.currency}}</td>
        <td>{{saneNumber amount this.details.currency}}</td>
        {{#if isInternal}}
        <td></td>
        <td>{{toInternalLabel}}</td>
        <td>{{fromInternalLabel}}</td>
        <td></td>
        {{else}}
        {{#if toExternal}}
        <td></td>
        <td></td>
        <td>{{fromInternalLabel}}</td>
        <td>{{toExternalLabel}}</td>
        {{else}}
        {{#if fromExternal}}
        <td>{{fromExternalLabel}}</td>
        <td>{{toInternalLabel}}</td>
        <td></td>
        <td></td>
        {{/if}}
        {{/if}}
        {{/if}}
        <td>{{saneNumber fee this.details.currency}}
        </td>
        <td>{{saneNumber baseVolume 'EUR' }} EUR</td>
        <td><a href="#" class="delete-transaction"><span
                class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
</template>