<template name="transferFlowDetail">
    <tr class={{transferType}}>
        <td>{{prettyDate date}}</td>
        {{#if isInternal}}
            <td colspan="3"></td>
            <td class="internal-tx-cell">{{internalRecipientLabel}}</td>
            <td class="neutral-bg"> &nbsp; {{saneNumber amount this.details.currency}} {{details.currency}}</td>
            <td class="arrow-container"><i class="fa fa-play"></i></td>
            <td class="internal-tx-cell">{{outgoingRecipientLabel}}</td>
            <td colspan="3"></td>
            <td> &nbsp; {{saneNumber baseVolume 'EUR' }} EUR</td>
        {{else}}
            {{#if isOutgoing}}
                <td colspan="6"></td>
                <td class="negative internal-tx-cell">{{outgoingRecipientLabel}}</td>
                <td class="negative-bg">&#45; {{saneNumber amount this.details.currency}} {{details.currency}}</td>
                <td class="arrow-container"><i class="fa fa-play"></i></td>
                <td class="negative">{{outgoingLabel}}</td>
                <td class="negative">&#45; {{saneNumber baseVolume 'EUR' }} EUR</td>
            {{else}}
                {{#if isIncoming}}
                    <td class="positive">{{incomingLabel}}</td>
                    <td class="positive-bg">&#43; {{saneNumber amount this.details.currency}} <i class="fa fa-btc"></i></td>
                    <td class="arrow-container"><i class="fa fa-play"></i></td>
                    <td class="positive internal-tx-cell">{{internalRecipientLabel}}</td>
                    <td colspan="6"></td>
                    <td class="positive">&#43; {{saneNumber baseVolume 'EUR' }} EUR</td>
                {{/if}}
            {{/if}}
        {{/if}}
        <td>
            <a href="#" data-toggle="modal" data-target="#txDetailModal" class="see-transaction"><i class="fa fa-search"></i></a>
            <a href="#" data-toggle="modal" data-target="#txDeleteModal" class="delete-transaction"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
</template>