template(name="exchangeDetails")
  .col-md-4
    .details-item
      .center-div
        .cirlce-bg-logo
          img.vertical-align(src="{{logoUrl}}")
      p.superscript {{i18n 'nodes.exchanges.exchangeLabelTitle'}}
      h3 {{exchangeLabel}}
      ul.no-bullets
        each balances
          li Balance in {{currency}}: {{saneNumber balance currency}}
      .controls
        a.delete-exchange(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'nodes.exchanges.deleteExchange'}} ")
          span.glyphicon.glyphicon-trash
        a.update-exchange(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'nodes.exchanges.update'}} ")
          span.glyphicon.glyphicon-refresh