<template name="newBitcoinWallet">

  {{#if areWeOnThisStage "first"}}

  <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 spacy">
    <h3>What kind of <span class="fat">wallet</span> do you want to add..?</h3>
    <ul class="wallet-selection text-center">
      <li>
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/bitcoin-wallet-logo.png">
          <div class="wallet-label-text">Bitcoin Wallet</div>
        </a>
      </li>

      <li>
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/electrum-logo.png">
          <div class="wallet-label-text">Electrum</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/armory-logo.png">
          <div class="wallet-label-text">Armory</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/trezor-logo.png">
          <div class="wallet-label-text">Trezor</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/multibit-logo.png">
          <div class="wallet-label-text">MultiBit</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/green-address-wallet-logo.png">
          <div class="wallet-label-text">Green Address</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/hive-wallet-logo.png">
          <div class="wallet-label-text">Hive</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/breadwallet-logo.png">
          <div class="wallet-label-text">Bread Wallet</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/mycelium-logo.png">
          <div class="wallet-label-text">Mycelium</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/kncwallet-logo.png">
          <div class="wallet-label-text">KnC</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li class="coming-soon">
        <a href="#" class="wallet-thumbs">
          <img src="/img/external-logos/msigna-logo.png">
          <div class="wallet-label-text">mSigna</div>
          <div class="coming-soon-sign">Coming soon</div>
        </a>
      </li>

      <li>
        <a href="#" class="wallet-thumbs">
          <img src="/img/wallet-icon-default.png">
          <div class="wallet-label-text">Single Address</div>
        </a>
      </li>

    </ul>
  </div>
  {{/if}} {{!-- DGB 2015-01-20 07:17 End of stage 1 --}}

  {{#if areWeOnThisStage "second"}}
  {{#with getNewWalletData}}

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 spacy wallet-data">
      <img src="{{getLogoImageFromWalletType type}}" class="new-wallet-logo" />
      <h3 class="label-title"> Adding {{type}} </h3>

      <form class="bold-input-text">
       <input name="type" type="hidden" value="{{getWalletFormatFromWalletType type}}">
        <div class="spacy form-group">
          <label class="field-type">Label</label>
            <div class="input-group">
            <input type="text" name="label" class="form-control bold-input" id="" value="" placeholder="Wallet label" autofocus />
           <span class="input-group-addon">
           {{#if validFormLabel}}
              {{> newBitcoinWalletGoodValidation}}
              {{else}}
              {{> newBitcoinWalletBadValidation}}
           {{/if}}
           </span>
        </div>
      </div>

      {{#if isElectrum}}
      <!-- Electrum -->
      <div class="spacy form-group">
        {{> electrumWalletImportGuide}}
          <label class="field-type">Master Public Key <a href="#" data-toggle="modal" data-target="#electrumWalletImportGuide"><span class="icon icon-help-circled"></span></a></label>
          <div class="input-group">
          <input type="text" name="hdseed" class="form-control bold-input" id="" value="" placeholder="Paste your public key" />
          <span class="input-group-addon">
          {{#if validFormSeed}}
            {{> newBitcoinWalletGoodValidation}}
            {{else}}
            {{> newBitcoinWalletBadValidation}}
          {{/if}}
          </span>
        </div>
      </div>
      {{else}}
        <!--  Android Wallet / BIP32 -->
      {{#if isBitcoinWallet}}
        <div class="spacy form-group">
          {{> bitcoinWalletImportGuide}}

          <label class="field-type">HDSeed <a href="#" data-toggle="modal" data-target="#bitcoinWalletImportGuide"><span class="icon icon-help-circled"></span></a></label>
          <div class="input-group">
            <input type="text" name="hdseed" class="form-control bold-input" id="" value="" placeholder="Paste your public key" />
            <span class="input-group-addon">
              {{#if validFormSeed}}
                {{> newBitcoinWalletGoodValidation}}
              {{else}}
                {{> newBitcoinWalletBadValidation}}
              {{/if}}
            </span>
          </div>
        </div>
        {{else}}
        <!-- Single Addresses -->
        {{/if}}
      {{/if}}

      <div class="row clearfix">
        <button type="submit" class="btn btn-lg {{#unless validForm}} disabled {{/unless}}">Add this wallet</button>
      </div>
      <div class="row decision-callout">
        or
      </div>

      <div class="row">
        <button type="button" class="btn back btn-no-box">&lt; Select another wallet</button>
      </div>
    </form>
  </div>
  {{/with}}
  {{/if}} {{!-- DGB DGB 2015-01-20 07:18 End of stage 2 --}}
</template>

<template name="newBitcoinWalletBadValidation">
  <span class="negative"><i class="icon icon-close"></i></span>
</template>

<template name="newBitcoinWalletGoodValidation">
  <span class="positive"><i class="icon icon-check"></i></span>
</template>
