template(name="newBankAccount")
  .zone
     h3.label-title    
      i.fa.fa-plus
      | New Bank Account
    +autoForm collection="BankAccounts" id="insertBankAccountForm" type="insert"
      +afQuickField name='label'
      +afQuickField name='bank' options='allowed'
      +afQuickField name='currency' options='allowed'
      button(type="submit", class="btn btn-primary btn-lg pull-right") {{i18n 'nodes.buttons.save'}}
