.wallet-data {
	text-align: center;

	h3 {
/* 		display: inline;
line-height: 5rem;
vertical-align: middle; */
	}

	.new-wallet-logo {
	  height: 5rem;
	}

	.form-control  {
		min-width: 50%;
	}
	.input-group-addon {
		background-color: transparent;
		border: none;
	}
	label.field-type {
		text-align: left !important;
	}

	.decision-callout {
		font-size: 3rem;
		padding: 2rem 0;
	}

}