<template name="trades">
  <div class="page-content inset">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="process-title">{{i18n 'trades.headings.trades'}}</h1>
        <hr class="sub-stopper"/>
        <div id="txHelpModal" tabindex="-1" role="dialog" aria-labelledby="transactionHelpModal" aria-hidden="true" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="transactionHelpModal" class="modal-title">How to do your taxes</h4>
              </div>
              <div class="modal-body">{{i18n 'trades.help'}}</div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row desktop-zone">
            <div class="sub-menu-zone pull-right"><a href="#" data-toggle="modal" data-target="#txHelpModal"><span class="glyphicon glyphicon-hand-right"> </span>{{i18n 'template.headings.help'}}</a>
            </div>
            <div class="table-zone">
            {{#if trades}}
              <table class="table table-transactions table-zb-hover auto-width centered">
                <thead>
                  <tr>
                    <th colspan="2" class="no-border">&nbsp;</th>
                    <th colspan="2" class="supa-header inflow">{{i18n 'trades.headings.table.inflow'}}</th>
                    <th colspan="2" class="supa-header outflow">{{i18n 'trades.headings.table.outflow'}}</th>
                    <th colspan="2" class="no-border">&nbsp;             </th>
                  </tr>
                  <tr>
                    <th>{{i18n 'trades.headings.table.date'}} <a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.date'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>{{i18n 'trades.headings.table.source'}}<a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.source'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th class="positive">{{i18n 'trades.headings.table.inAmount'}}<a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.inAmount'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th class="positive">{{i18n 'trades.headings.table.inCurrency'}}<a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.inCurrency'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th class="negative">{{i18n 'trades.headings.table.outAmount'}}<a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.outAmount'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th class="negative">{{i18n 'trades.headings.table.outCurrency'}}<a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.outCurrency'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>{{i18n 'trades.headings.table.volume'}}<a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'trades.tooltip.volume'}} "><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th class="no-border"></th>
                  </tr>
                </thead>
                <tbody>
                {{#each trades}}
                  <tr>
                    <td>{{prettyDate date}}</td>
                    <td>{{venue}}</td>
                    <td class="positive">{{saneNumber inflow.amount inflow.currency}} {{buy.currency}}</td>
                    <td class="positive">{{buy.currency}}</td>
                    <td class="negative">{{saneNumber outflow.amount outflow.currency}} {{sell.currency}}</td>
                    <td class="negative">{{sell.currency}}</td>
                    <td>{{saneNumber baseAmount "EUR"}} EUR</td>
                    <td> <a href="#" class="delete-trade"><span class="glyphicon glyphicon-trash"></span></a></td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
              {{else}}
              <div class="row">
                <div class="col-md-6 col-md-offset-3 ">
                    <h3>{{i18n 'trades.headings.noTransactions'}}</h3>
                    <p>{{i18n 'trades.text.noTransactions'}}</p>
                </div> <!-- ./col-sm-6 -->
              </div> <!-- ./row -->
            {{/if}}
            </div>
          </div>
        </div> <!-- /.col-lg-10 -->
      </div>
    </div>
    </div> <!-- /.container -->
  </div>
</template>