<template name="newTransaction">
  <h2>Add Single Transaction</h2>

  {{#autoForm
    collection='Transactions'
    id='insertTransactionForm'
    type='insert'
  }}
    <div class="col-xs-4">
      {{>afQuickField name='in'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='out'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='base'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='date'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='source'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='note'}}
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-primary btn-lg">{{i18n 'transactions.buttons.newTransaction'}}</button>
    </div>
  {{/autoForm}}

{{!--
  <form action="#" class="" id="#" method="post">
    <table class="table table-condensed table-hover table-responsive">
      <thead>
        <tr>
          <th colspan="2">&nbsp;</th>
          <th colspan="2">Inflow</th>
          <th colspan="2">Outflow</th>
          <th colspan="2">&nbsp;</th>
       </tr>            
        <tr>
          <th>Date</th>
          <th>Source</th>
          <th>Value bought</th>
          <th>Currency</th>
          <th>Value sold</th>
          <th>Currency sold</th>
          <th>Volume</th>
          <th></th>
       </tr>
      </thead>
      <tbody>
        <td><input as="date" class="form-control" id="#" name="" type="text" /></td>
        <td><input class="form-control" id="#" name="" type="text" /></td>
        <td><input class="form-control" id="#" name="" type="text" /></td>
        <td><input class="form-control" id="#" name="" type="text" /></td>
        <td><input class="form-control" id="#" name="" type="text" /></td>
        <td><input class="form-control" id="#" name="" type="text" /></td>
        <td><input class="form-control" id="#" name="" type="text" /></td>
        <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a></td>
      </tbody>
    </table>
  </form>
--}}
</template>