<template name="newTransaction">
  <h2>{{i18n 'transactions.headings.addSingle'}}</h2>

  {{#autoForm
    collection='Transactions'
    id='insertTransactionForm'
    type='insert'
  }}
    <div class="col-xs-4">
      {{>afQuickField name='in'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='out'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='base'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='date'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='source'}}
    </div>
    <div class="col-xs-4">
      {{>afQuickField name='note'}}
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-primary btn-lg">{{i18n 'transactions.buttons.newTransaction'}}</button>
    </div>
  {{/autoForm}}
</template>