<template name="transactions">
<div class="container">
    <div class="row">
    <h2>{{i18n 'transactions.headings.transactions'}}</h2>
    {{#if transactions}}

      <div class="add-trns-zone">
        {{> newTransaction}}
      </div>

    {{else}}
      <div class="add-trns-zone">
        <h3>{{i18n 'transactions.headings.noTransactions'}}</h3>
        <p>{{i18n 'transactions.text.noTransactions'}}</p>
      </div>
    {{/if}}

  </div> <!-- /.row -->
  <div class="row">
      <table class="table table-condensed table-hover table-responsive">
          <thead>
            <tr>
              <th colspan="2">&nbsp;</th>
              <th colspan="2">{{i18n 'transactions.headings.table.inflow'}}</th>
              <th colspan="2">{{i18n 'transactions.headings.table.outflow'}}</th>
              <th colspan="2">&nbsp;</th>
           </tr>            

            <tr>
              <th>{{i18n 'transactions.headings.table.date'}}</th>
              <th>{{i18n 'transactions.headings.table.source'}}</th>
              <th>{{i18n 'transactions.headings.table.inAmount'}}</th>
              <th>{{i18n 'transactions.headings.table.inCurrency'}}</th>
              <th>{{i18n 'transactions.headings.table.outAmount'}}</th>
              <th>{{i18n 'transactions.headings.table.outCurrency'}}</th>
              <th>{{i18n 'transactions.headings.table.volume'}}</th>
              <th></th>
           </tr>
          </thead>
        <tbody>
        	{{#each transactions}}
          <tr>
            <td>{{date}}</td>
            <td>{{source}}</td>
            <td>{{in.amount}} {{in.currency}}</td>
            <td>{{in.currency}}</td>
            <td>{{out.amount}} {{out.currency}}</td>
            <td>{{out.currency}}</td>
            <td>{{base.amount}} {{base.currency}}</td>
            <td><a href="#" class="delete-transaction"><span class="glyphicon glyphicon-trash"></span></a></td> 
          </tr>
           {{/each}}           
        </tbody>
      </table>
     </div>

      <div class="pull-right">
        <a href="#" class="btn btn-primary btn-lg">{{i18n 'transactions.buttons.calculateTax'}}</a>
      </div>     

  </div> <!-- /container -->
</template>