<template name="transactions">
<div class="container">
    <div class="row">
    <h2>Transactions</h2>
    {{#if transactions}}

    <div class="add-trns-zone">
      <h2>Add Single Transaction</h2>
      <form action="#" class="" id="#" method="post">
        <table class="table table-condensed table-hover table-responsive">
          <thead>
            <tr>
              <th colspan="2">&nbsp;</th>
              <th colspan="2">Inflow</th>
              <th colspan="2">Outflow</th>
              <th colspan="2">&nbsp;</th>
           </tr>            

            <tr>
              <th>Date</th>
              <th>Source</th>
              <th>Value bought</th>
              <th>Currency</th>
              <th>Value sold</th>
              <th>Currency sold</th>
              <th>Volume</th>
              <th></th>
           </tr>
          </thead>
          <tbody>
            <td><input as="date" class="form-control" id="#" name="" type="text" /></td>
            <td><input class="form-control" id="#" name="" type="text" /></td>
            <td><input class="form-control" id="#" name="" type="text" /></td>
            <td><input class="form-control" id="#" name="" type="text" /></td>
            <td><input class="form-control" id="#" name="" type="text" /></td>
            <td><input class="form-control" id="#" name="" type="text" /></td>
            <td><input class="form-control" id="#" name="" type="text" /></td>
            <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a></td>
          </tbody>
        </table>
      </form>
    </div>

    {{else}}
    <div class="add-trns-zone">
      <h3>No transactions...</h3>
      <p>Please add some transactions to get started. Either import or add manually below.</p>
    </div>
    {{/if}}

  </div> <!-- /.row -->
  <div class="row">
      <table class="table table-condensed table-hover table-responsive">
          <thead>
            <tr>
              <th colspan="2">&nbsp;</th>
              <th colspan="2">Inflow</th>
              <th colspan="2">Outflow</th>
              <th colspan="2">&nbsp;</th>
           </tr>            

            <tr>
              <th>Date</th>
              <th>Source</th>
              <th>Value bought</th>
              <th>Currency</th>
              <th>Value sold</th>
              <th>Currency</th>
              <th>Volume</th>
              <th></th>
           </tr>
          </thead>
        <tbody>
        	{{#each transactions}}
          <tr>
            <td>{{date}}</td>
            <td>{{source}}</td>
            <td>{{in.amount}} {{in.currency}}</td>
            <td>{{in.currency}}</td>
            <td>{{out.amount}} {{out.currency}}</td>
            <td>{{out.currency}}</td>
            <td>{{base.amount}} {{base.currency}}</td>
            <td><a href="#" class="delete-transaction"><span class="glyphicon glyphicon-trash"></span></a></td> 
          </tr>
           {{/each}}           
        </tbody>
      </table>
     </div>

      <div class="pull-right">
        <a href="#" class="btn btn-primary btn-lg">Calculate Tax</a>
      </div>     

  </div> <!-- /container -->
</template>