template(name="transactions")
  .container
    .row
      h1.process-title {{i18n 'transactions.headings.transactions'}}
      .sub-menu-zone.pull-right
        //- Button trigger modal 
        a(href="#", data-toggle="modal",data-target="#helpModal")
          span.glyphicon.glyphicon-hand-right 
          span {{i18n 'template.headings.help'}} 
      <!-- Modal @LEVIN: PLEASE FIX -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">How to do your taxes</h4>
              </div>
              <div class="modal-body">
                <p>Suspendisse non nisl sit amet velit hendrerit rutrum. Nulla porta dolor. Praesent egestas tristique nibh. Sed cursus turpis vitae tortor.
                </p>
                <p>
                Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Praesent ac massa at ligula laoreet iaculis. Morbi nec metus. Nunc interdum lacus sit amet orci.
                </p>
                <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sit amet est. Pellentesque dapibus hendrerit tortor. In turpis.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse non nisl sit amet velit hendrerit rutrum. Duis vel nibh at velit scelerisque suscipit. Phasellus accumsan cursus velit.
                </p>
                <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dolor. Etiam vitae tortor. In hac habitasse platea dictumst.
                </p>
                <hr />
                <p>Suspendisse non nisl sit amet velit hendrerit rutrum. Nulla porta dolor. Praesent egestas tristique nibh. Sed cursus turpis vitae tortor.
                </p>
                <p>
                Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Praesent ac massa at ligula laoreet iaculis. Morbi nec metus. Nunc interdum lacus sit amet orci.
                </p>
                <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sit amet est. Pellentesque dapibus hendrerit tortor. In turpis.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse non nisl sit amet velit hendrerit rutrum. Duis vel nibh at velit scelerisque suscipit. Phasellus accumsan cursus velit.
                </p>
                <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dolor. Etiam vitae tortor. In hac habitasse platea dictumst.
                </p>              
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div><!-- /modal -->

      .row
        .add-trns-zone
          +newTransaction
        .pull-right
          a.update-transactions.btn.btn-primary.btn-lg(href="#") {{i18n 'transactions.buttons.updateTransactions'}}
          a.delete-transactions.btn.btn-primary.btn-lg(href="#") {{i18n 'transactions.buttons.deleteAll'}}
  
  .container-fluid
    if transactions
      table.table.table-condensed.table-hover.table-responsive
        thead
            tr
              th(colspan="2") &nbsp;
              th(colspan="2") {{i18n 'transactions.headings.table.inflow'}}
              th(colspan="2") {{i18n 'transactions.headings.table.outflow'}}
              th(colspan="2") &nbsp;             
            tr
              th {{i18n 'transactions.headings.table.date'}}
              th {{i18n 'transactions.headings.table.source'}}
              th {{i18n 'transactions.headings.table.inAmount'}}
              th {{i18n 'transactions.headings.table.inCurrency'}}
              th {{i18n 'transactions.headings.table.outAmount'}}
              th {{i18n 'transactions.headings.table.outCurrency'}}
              th {{i18n 'transactions.headings.table.volume'}}
              th              
        tbody
          each transactions
            tr
              td {{date}}
              td {{source}}
              td {{in.amount}} {{in.currency}}
              td {{in.currency}}
              td {{out.amount}} {{out.currency}}
              td {{out.currency}}
              td {{base.amount}} {{base.currency}}
              td 
                a.delete-transaction(href="#")
                  span.glyphicon.glyphicon-trash
    else
      .row
        .col-sm-6.col-sm-offset-3 
          .add-trns-zone
            h3 {{i18n 'transactions.headings.noTransactions'}}
            p {{i18n 'transactions.text.noTransactions'}}