<template name="home">
    <h1 class="process-title">Check an address</h1>
    <div class="sub-title-icon top-consistency-margin">
        <div class="icon icon-info"></div>
    </div>
    <div class="col-md-10 col-md-offset-1">

        <div class="text-center">
            <input class='spacy full-width' name='hdseed' label="HD seed" placeholder='Paste address here' type='text'>

            <button type="submit" id="submitWalletButton" class="btn btn-primary btn-lg spacy">
                Explore <span class="fat">wallet data</span>
            </button>
        </div>

    </div>
</template>