/* Tables */
table {
    font-size: 13px;
    font-size: 1.3rem;
  thead {
    tr {
        th {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: @sansserif;
               
                &.supa-header {
                 text-align: center;
                }
            }
        }      
   }
  
  td {
    &.inflow {
        background-color: lighten(@positive, 70%);
      }

      &.outflow {
        background-color: lighten(@negative, 30%);
      }  
  }
}

.table-zb-hover>tbody>tr:hover>td, 
.table-zb-hover>tbody>tr:hover>th {
    background: url(../../img/table-hover.png) repeat transparent;

    &.inflow {
        background-color: lighten(@positive, 70%);
      }

      &.outflow {
        background-color: lighten(@negative, 30%);
   }  

}


