<template name="addBitcoinAddress">
    <div class="add-address-zone zone">
        <div class="">
            <h4><a href="#" class="icon icon-up-open-big icon-circle bitcoin-address-add-toggle"></a>Add a <span class="fat">single Bitcoin address</span></h4>
        </div>
        <div class="bitcoin-address-add data-toggle">
        {{#autoForm collection="BitcoinAddresses" id="insertBitcoinAddressForm" type="insert" validation="keyup"}}
            {{>afQuickField name='label'}}
            {{>afQuickField name='address'}}
            {{>afQuickField name='walletId' value=this._id type='hidden' label=false}}
            <div class="text-center">
                <button type="submit" id="submitSingleAddressButton" class="btn btn-primary btn-lg spacy">Add address</button>
            </div>
        {{/autoForm}}
        </div>
    </div>
</template>