<template name="addBitcoinAddress">
    <div class="add-address-zone zone">
        <h4 class="bitcoin-add-address-toggle"><span class="fat">Add</span> a single <span class="fat">Bitcoin address</span> <span class="icon icon-up-open-big toggle-button"></span> </h4>
        <div class="bitcoin-add-address">
        {{#autoForm collection="BitcoinAddresses" id="insertBitcoinAddressForm" type="insert" validation="keyup"}}
            {{>afQuickField name='label'}}
            {{>afQuickField name='address'}}
            {{>afQuickField name='walletId' value=this._id type='hidden' label=false}}
            <div class="text-center">
                <button type="submit" id="submitSingleAddressButton" class="btn btn-primary btn-lg spacy">Add address</button>
            </div>
        {{/autoForm}}
        </div>
    </div>
</template>