<template name="addWallet">
    <div class="col-lg-4">
            <div class="bordered">
                <h3 class="label-title"><span class="icon icon-wallet-plus"></span> Add a wallet</h3>
                {{#autoForm collection='BitcoinWallets' type='insert'  id='addNewBitcoinWallet'  validation='keyup'}}
                    {{> afQuickField name='label' }}
                    {{#if afFieldIsInvalid }}INVALID{{/if}}
                    {{> afQuickField name='type' value=actiontype type='hidden'}}
                    {{#unless afFieldValueIs name='type' value='single-addresses'}}
                        {{> afQuickField name='hdseed'}}
                    {{/unless}}
                    <button type="submit" class="btn btn-primary btn-lg">{{i18n 'nodes.buttons.save'}}</button>
                {{/autoForm}}
            </div>
        </div>
</template>
