template(name="bitcoinWalletAddresses")
  .wallet-adresses.zone
    if addresses
      h4
        i.fa.fa-qrcode
        | Nonzero Addresses in this wallet
      table.table.table-bordered.table-zb-hover
        thead
            tr
              th Label
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.date'}} ")
                  span.glyphicon.glyphicon-info-sign
              th Address
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.date'}} ")
                  span.glyphicon.glyphicon-info-sign
              th Balance
                a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.date'}} ")
                  span.glyphicon.glyphicon-info-sign
        tbody
          each addresses
            if showAddress this
              tr
                td {{label}}
                td {{address}}
                td {{saneBalance}} BTC
                td
                  a.delete-transaction(href="#")
                    span.glyphicon.glyphicon-trash
  if singleAddressWallet this
    +addBitcoinAddress