<template name="bitcoinWalletAddresses">
  <div class="wallet-adresses zone">
    {{#if addresses}}
      <h4><span class="icon icon-bitcoin-network"></span> Nonzero Addresses in this wallet</h4>
      <table class="table table-bordered table-zb-hover">
        <thead>
          <tr>
            {{#if singleAddressWallet this}}
            <th>Label</th>
            {{/if}}
            <th>Address</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
            {{#each addresses}}
              {{#if showAddress this}}
              <tr>
                {{#if singleAddressWallet ..}}
                  <td>{{label}}</td>
                {{/if}}
                <td>{{address}}</td>
                <td>{{saneNumber balance 'BTC'}} BTC</td>
              </tr>
              {{/if}}
            {{/each}}
        </tbody>
      </table>
    {{/if}}
    {{#if singleAddressWallet this}}
      {{> addBitcoinAddress}}
    {{/if}}
  </div>
</template>