<template name="bitcoinWalletGuide">
<!--        <div id="bitcoinWalletGuide" tabindex="-1" role="dialog" aria-labelledby="noDataModal" aria-hidden="true" class="modal fade"> -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
			<a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a>
            <h3 class="modal-title">Get <span class="fat">HD seed</span> from Bitcoin Wallet</h3>
          </div>
          <div class="modal-body">
			<p>
				To give Coyno watch-only access to your wallet, you need to get the HD seed key. Here we'll give you a step-by-step guide on how to do it (it's a bit cumbersome, but you only need to do this once!).
			</p>
			<h4>1. Go to <span class="fat">Report issue</span> in app</h4>
			<p>Open the Bitcoin wallet app and go to <span class="fat">Settings > Diagnostics > Report Issue</span></p>
			<img src="/img/user-guides/bitcoin-wallet-screenshot-1.png" width="300" />

			<h4>2. Send wallet dump to <span class="fat">your email</span></h4>
			<p><span class="fat">Tick the "Append wallet dump"</span> and untick all other boxes</p>
			<img src="" />

			<p>Select your email client and change the <span class="fat">To: address to your own email address</span> and send.</p>
			<img src="" />

			<h4>3. Get the <span class="fat">HD key</span> from the wallet dump</h4>
			<img src="" />


          </div>

        </div>
      </div>
<!--     </div> -->
</template>
