<template name="importGuide-single-addresses">
<div id="importGuide-single-addresses" tabindex="-1" role="dialog" aria-labelledby="noDataModal" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content user-guide add-bitcoin-wallet">
          <div class="modal-header">
			<a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a>
            <span class="meta-title brand-box">Guide</span>
            <h3 class="modal-title">How to get <span class="fat">addresses</span> from a wallet</h3>
          </div>
          <div class="modal-body">

	        </div>
      </div>
	</div>
</div>
</template>
