template(name="bitcoinWallets")
  .wallets-zone.zone
    h2 
      i.fa.fa-book 
      | Added Wallets
    .added-wallets.zone  
        .row
        if bitcoinwallets
          each bitcoinwallets
            .col-md-12
               .details-item 
                 .center-div
                   .cirlce-bg-logo
                     img.vertical-align(src="img/wallet-icon-default.png")
                 p.superscript {{i18n 'nodes.wallets.walletLabelTitle'}}
                 h3 {{label}}          
                 .balance-statement.spacy Total Wallet Balance: {{saneNumber balance 'BTC'}} BTC
                 +bitcoinWalletAddresses this
                 .controls
                   a.delete-bitcoin-wallet(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'nodes.bitcoinwallets.deleteWallet'}} ")
                     span.glyphicon.glyphicon-trash
  +newBitcoinWallet