template(name="currencyExchanges")
  .row.exhanges-zone
    h2 Added Exchanges
    if exchanges
      each exchanges
        .col-md-4
          .item
            img(src="img/external-logos/Bitstamp_Logo_2013bw.png")
            h3 {{exchange}}
            ul.no-bullets
              each balances
                li Balance in {{currency}}: {{balance}}
            .controls
              a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'nodes.exchanges.deleteExchange'}} ")
                span.glyphicon.glyphicon-trash
    .col-md-4
      .add-item-box
        a(href="#") 
          span.glyphicon.glyphicon-plus 
          br 
          | {{i18n 'nodes.exchanges.addNewExchange'}}
  .row
    .table-control-buttons
      a.update-trades.btn(href="#") 
        span.glyphicon.glyphicon-repeat 
        | {{i18n 'nodes.buttons.updateTransactions'}}
      a.delete-trades.btn(href="#") 
        span.glyphicon.glyphicon-trash 
        | {{i18n 'nodes.buttons.deleteAll'}} 
  +newExchange