template(name="currencyExchanges")
  .row.exhanges-zone
    h2 Added Exchanges
    .added-exchanges-zone
    if exchanges
      each exchanges
        +exchangeDetails this
    .col-md-4
      .add-item-box
        a(href="#") 
          span.glyphicon.glyphicon-plus 
          br 
          | {{i18n 'nodes.exchanges.addNewExchange'}}
  .row
    .table-control-buttons
      a.update-transactions.btn(href="#") 
        span.glyphicon.glyphicon-repeat 
        | {{i18n 'nodes.buttons.updateTransactions'}}
      a.delete-transactions.btn(href="#") 
        span.glyphicon.glyphicon-trash 
        | {{i18n 'nodes.buttons.deleteAll'}} 
  +newExchange