template(name="newBankAccount")
  .row
    h2 New Bank Account
    +autoForm collection="BankAccounts" id="insertBankAccountForm" type="insert"
      +afQuickField name='label'
      +afQuickField name='currency' options='allowed'
    button(type="submit", class="btn btn-primary btn-lg pull-right") {{i18n 'nodes.buttons.save'}}