<template name="newBitcoinWallet">
    <div class="zone">
        <h3 class="label-title">   <i class="fa fa-plus"></i><i class="fa fa-book"> </i>New Bitcoin Wallet</h3>
      {{#autoForm collection='BitcoinWallets' type='insert'  id="addNewBitcoinWallet"}}
        {{> afQuickField name='label' }}
        {{> afQuickField name='type' options='allowed' }}
        {{#unless afFieldValueIs name='type' value='Single Addresses'}}
          {{> afQuickField name='hdseed'}}
        {{/unless}}
        <button type="submit" class="btn btn-primary btn-lg">{{i18n 'nodes.buttons.save'}}</button>
      {{/autoForm}}
    </div>
</template>