template(name="newBankAccount")
  h2 New Bank Account
  +autoForm collection="BankAccounts" id="insertBankAccountForm" type="insert"
    .row-xs-4
      +afQuickField name='label'
    .row-xs-4
      +afQuickField name='bank' options='allowed'
    .row-xs-4
      +afQuickField name='currency' options='allowed'
    button(type="submit", class="btn btn-primary btn-lg") {{i18n 'nodes.buttons.save'}}