<template name="newExchange">
    <div class="zone">
        <h3 class="label-title">   <i class="fa fa-plus"></i><i class="fa fa-book"> </i>New Exchange</h3>
        {{#autoForm collection='Exchanges' type='insert'  id='insertExchangeForm'  validation='keyup'}}
        {{> afQuickField name='exchangeLabel' }}
        {{> afQuickField name='exchange' options='allowed' }}
        {{#if afFieldValueIs name="exchange" value="Bitstamp"}}
            {{> afQuickField name='credentials.userName'}}
        {{/if}}
        {{> afQuickField name='credentials.APIKey'}}
        {{> afQuickField name='credentials.secret'}}
        <button type="submit" class="btn btn-primary btn-lg pull-right">{{i18n 'nodes.buttons.save'}}</button>
        {{/autoForm}}
    </div>
</template>