template(name="newExchange")
  .zone
    h3.label-title    
      i.fa.fa-plus
      | New Exchange
    +autoForm collection="Exchanges" id="insertExchangeForm" type="insert"
      +afQuickField name='exchangeLabel'
      +afQuickField name='exchange' options='allowed'
      +afQuickField(name='credentials')
      button(type="submit", class="btn btn-primary btn-lg pull-right") {{i18n 'nodes.buttons.save'}}