template(name="newNode")
  h2 {{i18n 'nodes.headings.addSingle'}}
  form(action="select")
    p
      select(id="type_of_new_node", size="1", value="{{type}}")
        each nodeTypes
          option(id="{{this}}", value="{{type}}") {{this}}
  +newExchange
  +newBankAccount
  +newBitcoinWallet