template(name="nodes")
  .page-content.inset
    .row
      .col-md-12
        h1.process-title {{i18n 'nodes.headings.nodes'}}
        .col-md-10.col-md-offset-1
          +currencyExchanges
          +bitcoinWallets
          +bankAccounts