template(name="nodes")
  .container
    .row
      h2 {{i18n 'nodes.headings.nodes'}}
    .add-nodes-zone
      +newNode
  if exchanges
    .container
      ul
        each exchanges
          each balances
            li Balance in {{currency}}: {{balance}}
  if bitcoinwallets
    .container
      ul
        each bitcoinwallets
          li {{label}}: {{balance}}
  if bankaccounts
    .container
      ul
        each bankaccounts
          li {{label}}: {{balance}}