template(name="nodes")
  .page-content.inset.nodes
    .row
      .col-sm-12
        h1.process-title {{i18n 'nodes.headings.nodes'}}
        hr.sub-stopper
        .col-sm-10.col-sm-offset-1
          .row.sub-nav-zone            
              ul.nav.nav-tabs
                li#overview-link
                  a(href="#")
                    i.fa.fa-bar-chart
                    | Overview
                li#exchanges-link
                  a(href="#")
                    i.fa.fa-bitcoin
                    | Exchanges  
                li#wallets-link
                  a(href="#")
                    i.fa.fa-bookmark-o
                    | Wallets
                li#bank-link
                  a(href="#")
                    i.fa.fa-credit-card
                    | Bank Accounts
          .row.desktop-zone.no-border-top
            +currencyExchanges
            +bitcoinWallets
            +bankAccounts 
              //-

                button.tile.sub-nav-item.exhanges 
                  i.fa.fa-bar-chart
                  br 
                  | Overview
             
                button.tile.sub-nav-item.exhanges 
                  i.fa.fa-bitcoin
                  br 
                  | Exchanges        
             
                button.tile.sub-nav-item.wallet 
                  i.fa.fa-bookmark-o
                  br 
                  | Wallets
             
                button.tile.sub-nav-item.bank 
                  i.fa.fa-credit-card
                  br 
                  | Bank Accounts
            //-
              {{>Template.dynamic template="currencyExchanges"}}
              +UI.dynamic(template="tabContent")
       