<template name="nodes">
  <div class="page-content inset nodes">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="process-title">{{i18n 'nodes.headings.nodes'}}</h1>
        <hr class="sub-stopper"/>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="row sub-nav-zone">
            <ul class="nav nav-tabs">
              <li><a href="/nodes/nodesOverview"><i class="fa fa-bar-chart"></i>Overview</a></li>
              <li><a href="/nodes/currencyExchanges"><i class="fa fa-bitcoin"></i>Exchanges</a></li>
              <li><a href="/nodes/bitcoinWallets"><i class="fa fa-bookmark-o"></i>Wallets</a></li>
              <li><a href="/nodes/bankAccounts"><i class="fa fa-credit-card"></i>Bank Accounts</a></li>
            </ul>
          </div>
          <div class="row desktop-zone no-border-top">
            
            {{> DynamicTemplate template=getTemplate data=getDataContext}}

            {{> Template.dynamic template="type" }}

          </div>
        </div>
      </div>
    </div>
  </div>
</template>