<template name="login">
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-8 col-sm-offset-2">
          <form role="form" class="form-signin">
            <h2 class="form-signin-heading">Please sign in.</h2>
            <input type="email" placeholder="Email address" required="" autofocus="" autocomplete="off" class="form-control"/>
            <input type="password" placeholder="Password" required="" autocomplete="off" class="form-control"/>
            <div class="checkbox">
              <input type="checkbox" value="remember-me"/>Remember me
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>