<template name="footer">
  <footer class="footer-zone">
  <div class="footer">
    <p>&copy; Coyno. <br />Powered by <a href="https://www.meteor.com">Meteor</a>.</p>
    <div class="footer-links">
	    <a href="https://twitter.com/CoynoApp" alt="Twitter"> <span class="icon icon-twitter"></span></a>
	    <a href="https://www.facebook.com/coynoapp" alt="Facebook"><span class="icon icon-facebook"></span></a>
	    <a href="http://www.reddit.com/r/Coyno/" alt="reddit"><span class="icon icon-reddit"></span></a>
	</div>
   	</div>
  </footer>
</template>