<template name="header">
  <div class="navbar navbar-static navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <a href="/" title="Coyno - BTC Bookkeeping" class="navbar-brand">
            <svg width="123" height="30">
              <image xlink:href="/img/coyno-logo.svg" src="/img/coyno-logo.png" width="123" height="30"></image>
            </svg>
          </a>
      </div> <!-- ./navbar-header -->
      <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }} <!-- here -->
      </ul>
    </div> <!-- ./container -->
  </div> <!-- ./navbar -->
</template>
