<template name="header">
  <div class="navbar navbar-static navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <a href="/" title="Coyno - BTC Bookkeeping" class="navbar-brand">
            <svg width="123" height="30">
              <image xlink:href="/img/coyno-logo.svg" src="/img/coyno-logo.png" width="123" height="30"></image>
            </svg>
          </a>
      </div> <!-- ./navbar-header -->
      <div class="navbar-right">
      {{#if currentUser}}
        <div class="nav navbar-nav currency-selector">
          <select class="form-control simple-select-dropdown" id="user_currency">
            {{#each possibleCurrencies}}
              <option value="{{this}}" {{isSelected this}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
      {{/if}}
        <ul class="nav navbar-nav">
          {{> loginButtons }} <!-- here -->
        </ul>
      </div>

    </div> <!-- ./container -->
  </div> <!-- ./navbar -->
</template>
