<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="Bitcoin Wallet Analytics and Reports"/>
  <meta name="author" content="Coyno Team"/>
  <link rel="icon" href="/favicon.ico"/>
  <title>Coyno</title>
</head>
<template name="layout">
	{{> yield region='header'}}
	<div class="container-fluid">
		<div class="row">
      {{#if currentUser}} 
          {{> yield region='sidebar'}}
      {{/if}}
			<div class="main col-md-12">
				{{> yield }}
			</div>
		</div> <!-- .row -->
	</div> <!-- .container-fluid -->
	{{> yield region='footer'}}
</template>
