
template(name="header")
  nav(class="navbar navbar-default" role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/", title="Coyno - BTC Bookkeeping")
          svg(width="123", height="30")
            image(xlink:href="img/coyno-logo.svg",src="img/coyno-logo.png", width="123", height="30")
 
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="{{pathFor 'dashboard'}}")
              i.fa.fa-dashboard
              | {{i18n 'template.headings.dashboard'}}
          li
            a(href="{{pathFor 'trades'}}") 
              i.fa.fa-arrow-up
              | {{i18n 'template.headings.trades'}}
          li
            a(href="{{pathFor 'upload'}}") 
              i.fa.fa-arrow-up
              | {{i18n 'template.headings.upload'}}
          li 
            a(href="{{pathFor 'nodes'}}") 
              i.fa.fa-bell
              | {{i18n 'template.headings.accounts'}}           
        ul.nav.navbar-nav.navbar-right
          +loginButtons