template(name="header")
  #sidebar-wrapper
    a.navbar-brand(href="/", title="Coyno - BTC Bookkeeping")
          svg(width="123", height="30")
            image(xlink:href="/img/coyno-logo.svg",src="/img/coyno-logo.png", width="123", height="30")    
    ul.sidebar-nav#sidebar
      li  
        a#menu-toggle(href="#")
          span.nav-icon
            i.fa.fa-align-justify
      li
        a(href="{{pathFor 'dashboard'}}")
          | {{i18n 'template.headings.dashboard'}}
          span.nav-icon
            i.fa.fa-pie-chart
      li
        a(href="{{pathFor 'trades'}}") 
          | {{i18n 'template.headings.trades'}}
          span.nav-icon
            i.fa.fa-refresh 
      li
        a(href="{{pathFor 'transfers'}}") 
          | {{i18n 'template.headings.transfers'}}
          span.nav-icon
            i.fa.fa-exchange
      li 
        a(href="{{pathFor 'nodes'}}") 
          | {{i18n 'template.headings.accounts'}}
          span.nav-icon          
            i.fa.fa-bell
      li 
        a(href="{{pathFor 'reports'}}") 
          | {{i18n 'template.headings.reports'}}
          span.nav-icon          
            i.fa.fa-file
  .login-dropdown
    i.fa.fa-user
    ul.login
     +loginButtons
