<template name="transferRow">
    <tr class={{transferType}}>
        <td>{{prettyDate date}}</td>
        {{#unless isIncoming}}
        <td colspan="{{colSpanBefore}}"></td>
        {{/unless}}
        <td class="{{transferType}}-tx-cell">{{senderLabel}}</td>
        <td class="{{transferType}}-bg tx-arrow"><a href="#" class="btn btn-arrow-right"> {{signedSaneAmount this}} {{details.currency}}</a></td>
        <td class="{{transferType}}-tx-cell">{{recipientLabel}}</td>
        {{#unless isOutgoing}}
        <td colspan="{{colSpanAfter}}"></td>
        {{/unless}}
        <td>{{saneNumber baseVolume 'EUR' }} EUR</td>
        <td>
            <a href="#" data-toggle="modal" data-target="#txDetailModal" class="see-transaction"><span class="icon icon-magnifying-glass"></span></a>
            <a href="#" data-toggle="modal" data-target="#txDeleteModal" class="delete-transaction"><span class="icon icon-trashcan"></span></a>
        </td>
    </tr>
</template>