<template name="transfers">
   <!--  <h1 class="process-title">{{i18n 'transfers.headings.transfers'}}</h1>
   <hr class="sub-stopper"/> -->
    <div id="txHelpModal" tabindex="-1" role="dialog" aria-labelledby="transactionHelpModal" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a>
            <h4 id="transactionHelpModal" class="modal-title">How to do your taxes</h4>
          </div>
          <div class="modal-body">{{i18n 'transfers.help'}}</div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <!-- Modal for detailed tx analysis
      TODO: get all relevatn data from tx and display in this modal
    -->
    <div id="txDetailModal" tabindex="-1" role="dialog" aria-labelledby="transactionHelpModal" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a>
            <h4 id="transactionHelpModal" class="modal-title">TX details</h4>
          </div>
          <div class="modal-body">
             <table>
              <tr>
                <td>Tx</td>
                <td>Details</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <!-- Delete tx confirm modal
            TODO: make these delete modals globally available (with minor changes to logic e.g. depending on what is being deleted)
    -->
    <div id="txDeleteModal" tabindex="-1" role="dialog" aria-labelledby="transactionHelpModal" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a>
            <h4 id="transactionHelpModal" class="modal-title">Delete item</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete transaction?</p>
            <button class="btn btn-lg delete">Delete</button>
            <button class="btn btn-lg cancel">Cancel</button>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="row desktop-zone">
        <div class="sub-menu-zone pull-right">
          <a href="#" data-toggle="modal" data-target="#txHelpModal"><span class="glyphicon glyphicon-hand-right"></span> <span>{{i18n 'template.headings.help'}}</span></a>
        </div>
        <div class="table-zone">
          {{#if transfers}}
            <table class="table table-tx table-zb-hover auto-width centered">
              <thead>
                <tr>
                  <th class="no-border">&nbsp;</th>
                  <th colspan="3" class="supa-header inflow">{{i18n 'trades.headings.table.inflow'}}</th>
                  <th colspan="1" class="no-border">&nbsp;</th>
                  <th colspan="3" class="supa-header outflow">{{i18n 'trades.headings.table.outflow'}}</th>
                  <th colspan="2" class="no-border">&nbsp;</th>
                </tr>
                <tr>
                  <th>{{i18n 'transfers.headings.table.date'}}
                      <a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'transfers.tooltip.date'}} ">
                       <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                  </th>
                  <th class="text-center" colspan="7">{{i18n 'transfers.headings.transfers'}}
                      <a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'transfers.tooltip.inAmount'}} ">
                          <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                  </th>
                  <th>{{i18n 'transfers.headings.table.value'}}
                      <a href="#" data-toggle="tooltip" data-placement="top" title=" {{i18n 'transfers.tooltip.value'}} ">
                          <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                  </th>
                  <th colspan="2" class="no-border"></th>
                </tr>
              </thead>
              <tbody>
                {{#each transfers}}
                  {{> transferRow }}
                {{/each}}
              </tbody>
            </table>
            <!--Pagination section-->
            <div class='row' style='margin-top:2em;'>
              <div class='col-xs-4 text-center'>
                {{#if noZero}}
                  <div id='beforeButton' class='btn btn-primary text-center beforeBtn'>Previous</div>
                {{/if}}
              </div>
              <div class='col-xs-4 text-center'>
                <div id='loadMoreButton' style="text-align:center; width: 100%; margin:0 auto;">{{actualPage}}</div>
              </div>
              <div class='col-xs-4 text-center'>
                {{#if noLastPage}}
                  <div id='nextButton' class='btn btn-primary text-center nextBtn'>Next</div>
                {{/if}}
              </div>
            </div>
          {{else}}
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="add-trns-zone">
                  <h3>{{i18n 'transfers.headings.noTransfers'}}</h3>
                  <p>{{i18n 'transfers.text.noTransfers'}}</p>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
    </div>     <!-- /.desktop-zone -->
  </div> <!-- /.col-md-10 -->
</template>