<template name="transfersNavigation">
  <!--Pagination section-->
  <div class="row page-controls">
    <div class='col-xs-3 text-center'>
      {{#unless firstPage}}
        <a href={{linkToBeforePage}} class="prev-page">&lt; Previous</a>
      {{/unless}}
    </div>
    <div class='col-xs-6 text-center'>
      <nav>
        <ul class="pagination">
          {{#each pagination}}
            <li class="{{isActive this}}">
              <span class="go-to-page" data-page-number="{{this}}">{{this}}</span>
            </li>
          {{/each}}
        </ul>
      </nav>
      <!-- <div id='loadMoreButton' style="text-align:center; width: 100%; margin:0 auto;">{{page}} of {{totalPages}}</div> -->
    </div>
    <div class='col-xs-3 text-center'>
      {{#unless lastPage}}
        <a href={{linkToNextPage}} class="next-page">Next &gt;</a>
      {{/unless}}
    </div>
  </div>
</template>
