<template name="transfersNavigation">
  <!--Pagination section-->
  <div class='row' style='margin-top:2em;'>
    <div class='col-xs-4 text-center'>
      {{#if noZero}}
        <div id='beforeButton' class='btn btn-primary text-center beforeBtn'>Previous</div>
      {{/if}}
    </div>
    <div class='col-xs-4 text-center'>
      <div id='loadMoreButton' style="text-align:center; width: 100%; margin:0 auto;">{{page}} of {{totalPages}}</div>
    </div>
    <div class='col-xs-4 text-center'>
      {{#if noLastPage}}
        <div id='nextButton' class='btn btn-primary text-center nextBtn'>Next</div>
      {{/if}}
    </div>
  </div>
</template>
  