<template name="transferRow">
    <tr class={{transferType}}>
        <td class="date-cell">{{prettyDateShort date}}</td>
        {{#unless isIncoming}}
            <td colspan="{{colSpanBefore}}" class="hidden-on-small hidden-on-medium"></td>
        {{/unless}}
            <td class="{{representation.type}}-tx-cell from-wallet-cell">
            <span class="show-on-small fat">From:</span>
            <span class="party-title fixed-max-width">{{senderLabel}}</span>
        </td>
        <td class="{{representation.type}}-bg tx-arrow">
            <span class="arrow"> {{signedSaneAmount this}} {{details.currency}}</span>
        </td>
        <td class="{{representation.type}}-tx-cell to-wallet-cell">
            <span class="show-on-small fat">To:</span>
            <span class="party-title fixed-max-width">{{recipientLabel}}</span>
        </td>
        {{#unless isOutgoing}}
            <td colspan="{{colSpanAfter}}" class="hidden-on-small hidden-on-medium"></td>
        {{/unless}}
        <td class="fiat-value-cell">
            <span class="show-on-small">Fiat value:</span>
            {{#if editing}}
                <input class="value-input" data-old-valuation="{{saneNumber baseVolumeRep 'EUR' }}" type="text" value="{{saneNumber baseVolumeRep 'EUR' }}">
            {{else}}
            {{#if customValue}}
                {{saneNumber customValue 'EUR' }}

                {{else}}
                {{saneNumber baseVolumeRep 'EUR' }}
                {{/if}}
                {{currency}}
            {{/if}}
        </td>
        <td>
            <a href="http://blockchain.info/tx/{{hash}}" target="_blank" class="icon icon-magnifying-glass"></a>
            {{#unless editing}}
                <a id="editButton" href="#" class="icon icon-pencil"></a>
            {{else}}
                <a id="saveButton" href="#" class="icon icon-check"></a>
            {{/unless}}
        </td>
    </tr>
    {{#if editing}}
        <tr class="tx-note-row">
            <td colspan="1"></td>
            <td colspan="1">Note</td>
            <td colspan="8" class="note-cell"><input class="note-input" type="text" value="{{note}}"></td>
        </tr>
    {{else}}
    {{#if note}}
    <tr>
        <td colspan="1"></td>
        <td colspan="1">Note</td>
        <td colspan="8" class="note-cell">{{note}}</td>
    </tr>
        {{/if}}
    {{/if}}
</template>