<template name="transferRow">
    <tr class={{transferType}}>
        <td class="date-cell">{{prettyDate date}}</td>
        {{#unless isIncoming}}
        <td colspan="{{colSpanBefore}}" class="hidden-on-small"></td>
        {{/unless}}
        <td class="{{representation.type}}-tx-cell from-wallet-cell"><span class="show-on-small fat">From:</span> {{senderLabel}}</td>
        <td class="{{representation.type}}-bg tx-arrow"><span class="arrow arrow-right"> {{signedSaneAmount this}} {{details.currency}}</span></td>
        <td class="{{representation.type}}-tx-cell to-wallet-cell"><span class="show-on-small fat">To:</span> {{recipientLabel}}</td>
        {{#unless isOutgoing}}
        <td colspan="{{colSpanAfter}}" class="hidden-on-small"></td>
        {{/unless}}
        <td class="fiat-value-cell"><span class="show-on-small">Value:</span> {{saneNumber baseVolume 'EUR' }} EUR</td>
    </tr>
</template>