template(name="bitcoinWalletAddresses")
  .row
    p Addresses in this Wallet
    if addresses
      each addresses  
        p Label: {{label}} Address: {{address}} Balance: {{saneNumber balance 'BTC'}}
  +addBitcoinAddress this