template(name="dashboard")
  .page-content.inset
    .row
      .col-md-12
        h1.process-title Dashboard
        hr.sub-stopper
        .col-md-10.col-md-offset-1
          .row.desktop-zone  
            .col-sm-8.line-chart
              h3 Net worth
              #networthChart
                svg.chart

            .col-sm-4
                .summary-data.spacy
                  h4.totals Total value 
                  p.sum 521 BTC

                .summary-data.spacy
                    h4.totals Profit/Loss
                    p.sum 23 EUR


            .col-sm-6.pie-chart
              h3 Wallet holdings
              if showPieChart        
                #pieChart
                  svg.chart
              else
                h3 Add data

              .col-sm-6
                //- .table-zone
                //-   if trades
                //-     table.table.table-transactions.table-zb-hover.auto-width.centered
                //-       thead
                //-         tr
                //-           th(colspan="2").no-border &nbsp;
                //-           th(colspan="2").supa-header.inflow {{i18n 'trades.headings.table.inflow'}}
                //-           th(colspan="2").supa-header.outflow {{i18n 'trades.headings.table.outflow'}}
                //-           th(colspan="2").no-border &nbsp;             
                //-         tr
                //-           th {{i18n 'trades.headings.table.date'}} 
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.date'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th {{i18n 'trades.headings.table.source'}}
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.source'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th.positive {{i18n 'trades.headings.table.inAmount'}}
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.inAmount'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th.positive {{i18n 'trades.headings.table.inCurrency'}}
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.inCurrency'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th.negative {{i18n 'trades.headings.table.outAmount'}}
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.outAmount'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th.negative {{i18n 'trades.headings.table.outCurrency'}}
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.outCurrency'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th {{i18n 'trades.headings.table.volume'}}
                //-             a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'trades.tooltip.volume'}} ")
                //-               span.glyphicon.glyphicon-info-sign
                //-           th.no-border
                //-       tbody
                //-         each trades
                //-           tr
                //-             td {{prettyDate date}}
                //-             td {{venue}}
                //-             td.positive {{saneNumber inflow.amount inflow.currency}} {{buy.currency}}
                //-             td.positive {{buy.currency}}
                //-             td.negative {{saneNumber outflow.amount outflow.currency}} {{sell.currency}}
                //-             td.negative {{sell.currency}}
                //-             td {{saneNumber baseAmount "EUR"}} EUR
                //-             td 
                //-               a.delete-trade(href="#")
                //-                 span.glyphicon.glyphicon-trash
                //-   else
                //-     .row
                //-       .col-sm-6.col-sm-offset-3 
                //-         .add-trns-zone
                //-           h3 {{i18n 'trades.headings.noTransactions'}}
                //-           p {{i18n 'trades.text.noTransactions'}}
