template(name="dashboard")
  .page-content.inset
    .row
      .col-md-12
        h1.process-title Dashboard
        hr.sub-stopper
        .col-md-10.col-md-offset-1
          .row.desktop-zone  
            .col-sm-6
              img(src="/img/graph.png")
            .col-sm-6
               table.table.table-transactions.table-zb-hover.auto-width.centered
                  thead
                    tr
                      th {{i18n 'transfers.headings.table.date'}} 
                        a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.date'}} ")
                          span.glyphicon.glyphicon-info-sign
                      th {{i18n 'transfers.headings.table.currency'}}
                        a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.inCurrency'}} ")
                          span.glyphicon.glyphicon-info-sign
                      th {{i18n 'transfers.headings.table.amount'}}
                        a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.inAmount'}} ")
                          span.glyphicon.glyphicon-info-sign
                      th.positive {{i18n 'transfers.headings.table.source'}}
                        a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.source'}} ")
                          span.glyphicon.glyphicon-info-sign
                      th.negative {{i18n 'transfers.headings.table.target'}}
                        a(href="#", data-toggle="tooltip",data-placement="top",title=" {{i18n 'transfers.tooltip.outAmount'}} ")
                          span.glyphicon.glyphicon-info-sign
                      th
                      th.no-border              
                  tbody
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K
                    tr 
                      td 16/03/2013 07:34  
                      td BTC 
                      td 200.00
                      td Destination
                      td K