<template name='termsOfService'>
  <h1 class="process-title">Terms of Service</h1>
  <div class="sub-title-icon top-consistency-margin">
    <div class="icon icon-graph-trend"></div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row desktop-zone">
      <h2>Please acknowledge the rules</h2>

      <div style='width:300px; margin:0 auto 3em auto'>
        - We don't have your wallet information.<br>
        - We don't store your private keys. <br>
        - Please keep your wallet files safe, we will not be able to recover your coins if you lose or damage your wallet files
      </div>

      <div style='text-align:center'>
        {{#if currentUser.profile.hasSignedTOS}}
        <input type='checkbox' checked disabled/>&nbsp;&nbsp;You agreed to this in the past<br>
        {{else}}
        <input type='checkbox' />&nbsp;&nbsp;Allright buddy, I understand it<br>
        {{/if}}

        <div class='clearfix' style='clear:both'></div>

        {{#unless currentUser.profile.hasSignedTOS }}
        <a id='termsOfServiceButton' href='/' class='btn btn-primary disabled pull-right'>next</a>
        {{/unless}}
      </div>
    </div>
  </div>
</template>