<template name="walletHoldings">
	<div class="col-lg-8 pie-chart">
	    <h3>Wallet distribution</h3>
	    <div id="currentholdingsperwallet" class="col-lg-8"></div>
	</div>
	<div class="col-lg-4">
	    <div class="summary-data spacy">
	    <table class="table table-tx table-zb-hover auto-width centered">
	    	<thead>
	    		<tr>
	    			<td>Wallet</td>
	    			<td>Value</td>
	    			<td>Percent</td>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr>
	    			<td></td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    	</tbody>
	    </table>
	    </div>
	</div>
</template>