<template name="userNotification">
  <div class='user-notification {{class}} spacy'>
    {{message}}
  </div>
</template>

<template name="userProfile">
   <h1 class="process-title">{{i18n 'profile.headings.profile'}}</h1>
    <div class="sub-title-icon top-consistency-margin">
          <div class="icon icon-user"></div>
    </div>
    <div class="col-md-10 col-md-offset-1">
     <div class="row desktop-zone profile">
			<div class="col-sm-6 col-sm-offset-3">
        <h3 class="form-divider">Your details</h3>
          <div class="bold-input-text">
            {{#if getEditingSection 'email'}}
              {{#if getUserMessage 'email'}}
                {{#with getUserMessage 'email'}}
                  {{ > userNotification }}
                {{/with}}
              {{/if}}
              <div class="spacy">
                <span class="field-type">Email:</span>
                <form name='saveEmail' action='' class="inline-form">
                  <input class='inputEdit inline-edit no-box' id='newEmail' value='{{userEmail}}'/>
                  <button class='btn btn-no-box' id='saveEmail'><span class="icon icon-save-disk"></span></button>
                </form>
              </div>
            {{else}}
            <div class="spacy">
              <span class="field-type">Email:</span>
              <span class="inputDisplay setEditingSectionEmail no-box"> {{userEmail}} </span>
              <button class="btn btn-no-box setEditingSectionEmail" ><span class="icon icon-pencil"></span></button>
            </div>
            {{/if}}
          </div>

     <h3 class="form-divider">Change password</h3>
      {{#if getEditingSection 'password'}}
      {{#if getUserMessage 'password'}}
        {{#with getUserMessage 'password'}}
          {{ > userNotification }}
        {{/with}}
      {{/if}}
      {{/if}}
      <div class="bold-input-text spacy" id='passwordChange'>
        <span class="field-type"><input type="password" id="old_password" placeholder="Old password" required="" autocomplete="off" class="form-control bold-input"/></span><br>
        <span class="field-type"><input type="password" id="new_password" placeholder="New password" required="" autocomplete="off" class="form-control bold-input"/></span><br>
        <span class="field-type"><input type="password" id="new_password_again" placeholder="New password again" required="" autocomplete="off" class="form-control bold-input"/></span><br>
        <button class="btn btn-default pull-right" id="change_password">Change password</button>
      </div>

    <div class='spacer' style='clear:both'></div>

      <h3 class="form-divider">Delete your profile</h3>
      <div class="input-buttons">
        <p>
          Duis vel nibh at velit scelerisque suscipit. Fusce egestas elit eget lorem. Praesent turpis.Sed hendrerit. Ut leo. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Sed in libero ut nibh placerat accumsan.
          Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Vivamus laoreet. Curabitur blandit mollis lacus. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          Pellentesque ut neque. Proin faucibus arcu quis ante. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.
          Quisque rutrum. Vestibulum volutpat pretium libero. Nunc sed turpis. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede.
        </p>
        <div class="text-center">
          <!-- Button trigger modal -->
          <button class="btn btn-lg warning-btn spacy" id="delete_profile" data-toggle="modal" data-target="#deleteProfileModal"><span class="icon icon-close"></span>  Delete profile</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- DGB 2015-01-20 03:53 Modal window for the delete password
confirmation -->
<!-- Modal -->
  <div class="modal fade" id="deleteProfileModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete account</h4>
        </div>
        <div class="modal-body">
          Are you sure that you want to delete your account?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirm_delete_account">Confirm</button>
        </div>
      </div>
    </div>
  </div>
<!-- DGB 2015-01-20 03:54 End of modal window -->


</template>
