<template name="userProfile">
   <h1 class="process-title">{{i18n 'profile.headings.profile'}}</h1>
    <div class="col-md-10 col-md-offset-1">
        <div class="row desktop-zone profile">
			<div class="col-sm-6 col-sm-offset-3">
				<h3 class="form-divider">Your details</h3>
				<div class="big-input-item">
					<span class="field-type">Username:</span><span class="field-input editable"> {{displayName}} <span class="edit-marker"><i class="fa fa-pencil"></i></span></span><br>
				</div>
				<div class="big-input-item">
					<span class="field-type">Email:</span><span class="field-input editable"> {{userEmail}} <span class="edit-marker"><i class="fa fa-pencil"></i></span></span><br>
				</div>
				<h3 class="form-divider">Change password</h3>
				<div class="big-input-item">
					<span class="field-type">Old password:<input type="password" id="old_password" placeholder="Old password" required="" autocomplete="off" class="form-control"/></span><br>
					<span class="field-type">New password:<input type="password" id="new_password" placeholder="New password" required="" autocomplete="off" class="form-control"/></span><br>
					<span class="field-type">Repeat new password:<input type="password" id="new_password_again" placeholder="New password again" required="" autocomplete="off" class="form-control"/></span><br>
					<button class="btn btn-default pull-right" id="change_password">Change password</button>
				</div>

				<h3 class="form-divider">Delete profile</h3>

				<div class="input-buttons">
					<p>
						Duis vel nibh at velit scelerisque suscipit. Fusce egestas elit eget lorem. Praesent turpis.Sed hendrerit. Ut leo. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Sed in libero ut nibh placerat accumsan.
						Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Vivamus laoreet. Curabitur blandit mollis lacus. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						Pellentesque ut neque. Proin faucibus arcu quis ante. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.
						Quisque rutrum. Vestibulum volutpat pretium libero. Nunc sed turpis. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede.
					</p>
					<div class="text-center">
						<button class="btn btn-lg warning-btn">Delete profile</button>
					</div>
				</div>
			</div>
        </div>     <!-- /.desktop-zone -->
    </div> <!-- /.col-md-10 -->
</template>