<template name="noData">
    <div id="noDataModal" tabindex="-1" role="dialog" aria-labelledby="noDataModal" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a> -->
            <h3 id="noDataModal" class="modal-title">Get <span class="fat">started</span></h3>
          </div>
          <div class="modal-body">
			<p>
				To get started with using our services, please go to <a href="{{pathFor 'nodesAddWallet'}}"><span class="fat">Wallets</span></a> and upload your public keys
			</p>
			<div class="modal-directions">
				<div class="icon icon-down-open-big"></div>
				<a href="{{pathFor 'nodesAddWallet'}}"><div class="icon icon-wallet"></div></a>
			</div>
          </div>

        </div>
      </div>
    </div>
</template>