<template name="noData">
    <div id="noDataModal" tabindex="-1" role="dialog" aria-labelledby="noDataModal" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <a href="#" data-dismiss="modal" class="close"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></a> -->
            <h3 id="noDataModal" class="modal-title">Get <span class="fat">started</span></h3>
          </div>
          <div class="modal-body">
			<p>
              {{i18n 'template.modal.noData'}}
			</p>
			<div class="modal-directions text-center spacy">
				<a href="{{pathFor 'nodesAddWallet'}}" class="btn btn-primary btn-lg"><span class="icon icon-wallet"></span> {{i18n 'template.modal.connectWallet'}}</a>
                <a href="{{pathFor 'nodesAddExchange'}}" class="btn btn-primary btn-lg"><span class="icon icon-exchange"></span> {{i18n 'template.modal.connectExchange'}}</a>
			</div>
          </div>

        </div>
      </div>
    </div>
</template>